body{
    background-color: rgb(44, 44, 52);
    
}

font{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
#signUp-text{
    margin-left: 27%;
}

.Login-title{

}